<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello {{ name }} !</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__left">
    <div class="stackedit__toc">
      
<ul>
<li><a href="#hello-world-">Hello {{ name }} !</a></li>
<li><a href="#projects">Projects</a></li>
<li><a href="#contact">Contact</a></li>
</ul>

    </div>
  </div>
  <div class="stackedit__right">
    <div class="stackedit__html">
      <h1 id="hello-world-">Hello {{ name }} !</h1>
<p>The entire website will be slowly built.</p>
{% if name != 'world' %}
<p>Well played, you found the very first easter-egg of this website !<p>
{% endif %}
<h1 id="projects">Projects</h1>
<p>There will be a list of online available projects I made.</p>
<h1 id="contact">Contact</h1>
<p>There will be a form to send me a message.</p>
<!-- Warning, don't look further !-->
<p>&nbsp;<br>
&nbsp;<br>
&nbsp;</p>
<!-- I hope you're still fine after that. !-->
<p>You can check the source code on <a href="https://github.com/remigerme/remigerme-dev">github</a>.</p>

    </div>
  </div>
</body>

</html>

